<h2>Users Management System</h2>
<%= render :partial => "common/index_head", :locals => { :prefix => "user", :fuzzy => false, :path => users_path, :new_path => new_user_path, :csv => false }  %>

<div id="body" style="clear: both;">

<% if @users.size > 0 -%>
<table cellspacing="0">
 <thead>
      <tr> 
    <th>Login</th>
    <th>Name</th>
    <th>EMail</th>
    </tr>
      </thead>
<% title = allowed(:users, :edit) ? "edit details" : "show details"
   @users.sort { |u,v| u.name <=> v.name }.each do |user|
   user_path = allowed(:users, :edit) ? edit_user_path(user.id) : user_path(user.id) %>
  <tr class='<%= cycle("odd", "even") %>'>
    <td><a href="<%= user_path %>"><%=h user.login %></a></td>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
  </tr>
<% end %>
</table>
<% else -%>
<h3>no user found</h3>

<% end -%>


<%= yield %>


</div>
