<h2>Users Management System</h2>
<%= render :partial => "common/head", :locals => { :prefix => "user", :fuzzy => false, :path => users_path, :new_path => new_user_path, :delete_path => user_path(@user.id) }  %>

<div id="body" style="clear: both;">
</div>

<div style="margin-top:2em;">

<form>
<input type="button" class="button" title="edit user" value="edit user" onclick="location.href='<%= edit_user_path %>'">
<input type="button" class="button" title="reset_password" value="reset password" onClick="location.href='<%= "reset_password" %>'">
</form><br>


<div style="margin-top:1em; font-weight:normal; color:black;">
<font color="black"><b>Account details : </b></font></div>

<div style="margin-top:1em; font-weight:normal; color:black;">
<table border="2" bordercolor="orange" style="background-color:white" width="500" cellpadding="6" cellspacing="2">



	<tr>

		<td><b><font color=red> * </font>Name :</b> </td>
		<td><%= render :text => "#{@user.name}" %></td>

	</tr>
	<tr>
		<td><b><font color=red> * </font> Login : </b></td>
		<td><%= render :text => "#{@user.login}" %> </td>
	</tr>
	<tr>
		<td><b><font color=red> * </font> Login id : </b></td>
		<td><%= render :text => "#{@user.id}" %> </td>
	</tr>	

	<tr>
		<td><b><font color=red> * </font> New password :</b></td>
		<td><%= render :text => "#{@user.password}" %></td>
	</tr>

	<tr>
		<td><b><font color=red> * </font> Email ID :</b></td>
		<td><%= render :text => "#{@user.email}" %></td>
	</tr>


	<tr>
		<td><b><font color=red> * </font> Primary Group :</b></td>
		<td><%= render :text => "#{@user.primary}" %></td>
	</tr>

	<tr>
		<td><b><font color=red> * </font> Groups :</b></td>
		<td><%= render :text => "#{@user.group_ids}" %></td>
	</tr>

	
</table>
</div>

</div>
