<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Primary Group</b>
   <%=h @user.primary_group.name %>
</p>

<p>
   <b>Groups</b>
   <%=h @user.groups.collect {|g| g.name }.join(', ') %>
</p>

<%= link_to 'Edit', edit_user_path(@user.key) %> |
<%= link_to 'Back', users_path %>
