<%= render :partial => "common/index_head", :locals => { :prefix => "book", :fuzzy => true, :path => books_path, :new_path => new_book_path, :csv => false }  %>
<div id="body" style="clear: both;">

<% if @books.size > 0 %>
<div id="body" style="clear: both;">
  <table cellspacing="0">
     <thead>
      <tr> 
    <th>Date</th>
    <th>Author</th>
    <th>Title</th>
    <th>Edition</th>
    <th>Place publisher</th>
    <th>Status</th>
    <th>Clas no</th>
    <th>Year</th>
    <th>Pages</th>
    <th>Volume</th>
    <th>Source</th>
    <th>Cost</th>
    <th>Bill no</th>
    <th>Isbn</th>
    <th>Keywords</th>
    <th>Remarks</th>
    <th width="13"><!-- --> </th>
  </tr>
  </thead>

  <tbody>
<% title = allowed(:books, :edit) ? "edit details" : "show details"
  @books.each do |book| 
  book_path = allowed(:books, :edit) ? edit_book_path(book.id) : book_path(book.id)
%>

  <tr class='<%= cycle("odd", "even") %>' >
    <td><%=h book.date %></td>
    <td><%=h book.author %></td>
    <td><a href="<%= book_path %>" title="<%= title %>"><%=h book.title %></a></td>
    <td><%=h book.edition %></td>
    <td><%=h book.place_publisher %></td>
    <td><%=h book.status %></td>
    <td><%=h book.clas_no %></td>
    <td><%=h book.year %></td>
    <td><%=h book.pages %></td>
    <td><%=h book.volume %></td>
    <td><%=h book.source %></td>
    <td><%=h book.cost %></td>
    <td><%=h book.bill_no %></td>
    <td><%=h book.isbn %></td>
    <td><%=h book.keywords %></td>
    <td><%=h book.remarks %></td>
    <td></td>
<!--
    <td><%= link_to 'Show', book_path(book.key) %></td>
    <td><%= link_to 'Edit', edit_book_path(book.key) %></td>
    <td><%= link_to 'Destroy', book_path(book.key), :confirm => 'Are you sure?', :method => :delete %></td>
-->
  </tr>
<% end %>
</tbody>
</table>
</div>

<% end %>

</div>
