<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% if controller.send :current_user %>
  <meta http-equiv="refresh" content="<%= Configuration.instance.session_idle_timeout * 60 + 5 %>" />
  <title>Bills for <%= controller.send(:current_user).name %></title>
  <% end -%>
  <%= stylesheet_link_tag 'scaffold' %>
</head>

<!-- replace with header -->

<body>
<div class="header">
    <div class="header_resize">
      <div class="logo">
<h1><a href="http://intranet/index.html">SAHYADRI EDUCATION CENTRE<small>krishnamurti foundation india</small></a></h1>
	


<div class="menu_nav">
        <ul>
          <li><a href="http://intranet">Home</a></li>
          <li><a href="http://intranet/intranet_index.php">intranet</a></li>
          <li><a href="http://intranet/resources">resources</a></li>
          <li><a href="http://intranet/contact.php">Contact Us</a></li>
	  <li><a href="<%= url_for(:controller => :bills) %>">My Account</a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <img src="<%= url_for(:controller => :bills) %>/../020.jpg" width="980" height="190" alt="image" class="hbg_img" />
    <div class="clr">
    </div>
  </div>

<div class="content">
    <div class="content_resize">

<font size=3 color=#495957><u>My Account : </u></font><br>
<p>[ This facility is available only for teachers and staff. ]

<% if controller.send :current_user %>
  <div style="float:left">
 
  <% form_tag "", :method => :delete do %>
   
  <%= submit_tag "logout", :class=> :button %>

  <%= hidden_field_tag(:login, controller.send(:current_user).login) %>

  <% end %>
</div>

<div class="content_resize">
      <div class="mainbar">
        
<br><h3>Welcome! <%= controller.send(:current_user).name %></h3>
<p>Thank you for signing in for your needs to receive details of telephone, tuckshop, medical, transport expenses and salary details.<br><br>
We trust that through the intranet staff members can interface better with the school administration and accounts for any clarification they require.</p>

<br>
<font size=3 color=#495957><u>Student Records : </u></font><br>
<p>We look forward to sharing with you the student reports, the student address list and other details.<br>
<li><a target="_self" href="http://intranet/reports"><font color=black> Student Reports -  </font></a><br></li><br>
<li><a target="_self" href="http://intranet/addresslist"><font color=black> Student Address List  - </font></a></li></p>

</div>
</div>

<br>
<img src="<%= url_for(:controller => :bills) %>/../folder.png" width="100" height="32" alt="image">

<% end -%>

<p style="color: green"><%= flash[:notice] %></p>
<%= yield %>

<div class="content_resize">
<div class="mainbar">
<p class="infopost">You must log in to view your account details.<a href="mailto:sahyadri@mail"><font color=darkblue> Contact admin </font></a>to report a problem or if you have forgotten your password.</p>

<p><font color=red> * </font><font color=darkgreen>for intranet users only</font>
</div>
</div>


<!-- replace footer goes  -->

<div class="clr"></div>
 </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright <a href="http://www.sahyadrischool.org">sahyadri school</a> <span>Design by <a href="http://www.sahyadrischool.org/" title="website">sahyadri school</a></span></p>
      <div class="clr"></div>
    </div>



</body>
</html>
