<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% if controller.send :current_user %>
  <meta http-equiv="refresh" content="<%= Configuration.instance.session_idle_timeout * 60 + 5 %>" />
  <% end -%>
  <title> Books & Bills : <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'sahyadri' %>
  <%= stylesheet_link_tag 'scaffold' %>
</head>

<h1>Sahyadri School</hr><small>krishnamurti foundation india</small></h1>

<hr size=6 color=orange width=30%><br>


<body>
<% if flash["notice"] || @notice -%>
<div id="notice"><%= flash["notice"] || @notice %></div>
<% end -%>

<% if controller.send(:current_user) -%>


<div style="background-color:lightblue; padding-top:0.3em;">
<a href=http://intranet><img style=margin-left:15px; src="<%= url_for(:controller => :bills) %>/../home.png" title="intranet" border="0" width="26" height="26" alt="image"></a>

<a href="<%= books_path %>"><img style=margin-left:15px; src="<%= url_for(:controller => :bills) %>/../Book.png" title="books" border="0" width="26" height="26" alt="image"></a>

<a href="<%= url_for(:controller => :bills) %>"><img style=margin-left:15px; src="<%= url_for(:controller => :bills) %>/../bill.png" title="bills" border="0" width="26" height="26" alt="image"></a>


</div>
<div id="navigation">
<div class="navigation left">
<a href="http://intranet">intranet</a>

<% if allowed(:books, :index) -%>
<a href="<%= books_path %>">books</a>
<% end -%>
<% if allowed(:bills, :index) && ::Bill.bill_path(controller.send(:current_user)) -%>
<a href="<%= url_for(:controller => :bills) %>">bills</a>
<% end -%>
<% if allowed(:users, :index) -%>
<a href="<%= users_path %>">users</a>
<% end -%>
<% if allowed(:configurations, :edit) -%>
<a href="<%= edit_configuration_path %>">configurations</a>
<% end -%>

</div>
<div class="navigation right">
<span>Welcome! <%= controller.send(:current_user).name %></span>

  <% form_tag "", :method => :delete, :id => 'logout' do %>
<input class="button" type="submit" value="logout" />
<input type="hidden" name="login" value="<%= controller.send(:current_user).login %>" />
  <% end %>
</div>
</div>


<%else %>


<% end -%>

<%= yield %>

<br>
<p style="color:green;"><%= flash[:notice] %></p>


<div class="clr">
<div class="footer">
      <p class="lf">&copy; Copyright <a href="http://www.sahyadrischool.org">sahyadri school</a> <span>Design by <a href="http://www.sahyadrischool.org/" title="website">sahyadri school</a></span></p>
      <div class="clr"></div>

    </div>



</body>
</html>
